body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  background: #ccc;
  height: 100px;
}

#searchBar {
  margin-left: 415px; /* Same as 'nav' width */
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#nav {
  width: 230px;
  background: #eee;
}

#content {
  margin-left: 230px; /* Same as 'nav' width */
}

#footer {
  clear: left;
  width: 100%;
  background: #ccc;
  text-align: center;
  padding: 4px 0;
}

.innertube {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}
